<li id="patient_attorney-<%= adjuster.id %>">
	<p>Name: <%= adjuster.name %></p>
	<p>Agency: <%= adjuster.agency %></p>
	<p>Address: <%= adjuster.address %></p>
	<p>Phone: <%= adjuster.phone %></p>
	<p>Fax: <%= adjuster.fax %></p>
	<hr>
</li>