<li id="patient_attorney-<%= attorney.id %>">
	<p>Name: <%= attorney.name %></p>
	<p>Firm: <%= attorney.firm %></p>
	<p>Type: <%= attorney.attorney_type %></p>
	<p>Address: <%= attorney.address %></p>
	<p>Phone: <%= attorney.phone %></p>
	<p>Fax: <%= attorney.fax %></p>
	<hr>

</li>