<% provide(:title, 'New Patient') %>
<h1>Update Patient Information:</h1>

<div class="row">
  <div class="col-md-4">
		<%= form_for(@patient) do |f| %>
      <%= render 'shared/patient_messages' %>

      <%= f.label :name, class: 'label-control'%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :report_type, class: 'label-control' %>
      <%= f.select :report_type, options_for_select([["QME", "QME"],["AME", "AME"],["IME", "IME"],["SUPP", "SUPP"]]) %>
      <br>
      <%= f.label :interpreter, class: 'label-control' %>
      <%= f.text_field :interpreter, class: 'form-control' %>

      <%= f.label :street_address, class: 'label-control'%>
      <%= f.text_field :street_address, class: 'form-control' %>

      <%= f.label :city, class: 'label-control'%>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :state, class: 'label-control'%>
      <%= f.text_field :state, class: 'form-control' %>

      <%= f.label :zip_code, class: 'label-control'%>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :phone, class: 'label-control'%>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :ssn, class: 'label-control'%>
      <%= f.text_field :ssn, class: 'form-control' %>

      <%= f.label :dob, class: 'label-control'%>
      <%= f.text_field :dob, class: 'form-control' %>

      <%= f.label :date_of_injury, class: 'label-control' %>
      <%= f.text_field :date_of_injury, class: 'form-control' %>

      <%= f.label :employer, class: 'label-control'%>
      <%= f.text_field :employer, class: 'form-control' %>

      <%= f.label :claim_number, class: 'label-control'%>
      <%= f.text_field :claim_number, class: 'form-control' %>

      <%= f.label :panel_number, class: 'label-control'%>
      <%= f.text_field :panel_number, class: 'form-control' %>

      <%= f.label :wcab_number, class: 'label-control'%>
      <%= f.text_field :wcab_number, class: 'form-control' %>

      <%= f.label :notes %>
      <%= f.text_area :notes, :rows => 5, class: 'form-control' %>

      <%= f.submit "Save these updates", class: "btn btn-primary" %>
    </div>

    <div class="col-md-4">
      <section class="patient_attorney_info">
        <% if @patient.attorneys.any? %>
        <h4>Patient Attorneys:</h4>

            <%= render partial:"attorneys/edit_attorney", locals: {f: f} %>

        <% end %>
      </section>
    </div>

    <div class="col-md-4">
      <section class="patient_adjuster_info">
        <% if @patient.adjusters.any? %>
        <h4>Patient Adjusters:</h4>

            <%= render partial:"adjusters/edit_adjuster", locals: {f: f} %>

        <% end %>
      </section>
    </div>

    <% end %>
</div>