<% provide(:title, 'New Patient') %>
<h1>New Patient Information:</h1>

<div class="row">

		<%= form_for(@patient) do |f| %>
      <%= render 'shared/patient_messages' %>

      <div class="col-md-5 patient_intake">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>

        <%= f.label :ssn %>
        <%= f.text_field :ssn, class: 'form-control' %>

        <%= f.label :dob %>
        <%= f.text_field :dob, class: 'form-control' %>

        <%= f.label :employer %>
        <%= f.text_field :employer, class: 'form-control' %>

        <%= f.label :claim_number %>
        <%= f.text_field :claim_number, class: 'form-control' %>

        <%= f.label :panel_number %>
        <%= f.text_field :panel_number, class: 'form-control' %>

        <%= f.label :wcab_number %>
        <%= f.text_field :wcab_number, class: 'form-control' %>

        <%= f.label :notes %>
        <%= f.text_area :notes, :rows => 3, class: 'form-control' %>
      </div>

      <div class="col-md-5 col-md-offset-1 patient_intake">
        <%= f.fields_for :attorneys do |attorney_builder| %>
            <%= attorney_builder.label :name %>
            <%= attorney_builder.text_field :name, class: 'form-control' %>

            <%= attorney_builder.label :firm %>
            <%= attorney_builder.text_field :firm, class: 'form-control' %>

            <%= attorney_builder.label :address %>
            <%= attorney_builder.text_field :address, class: 'form-control' %>

            <%= attorney_builder.label :phone %>
            <%= attorney_builder.text_field :phone, class: 'form-control' %>

            <%= attorney_builder.label :fax %>
            <%= attorney_builder.text_field :fax, class: 'form-control' %>
        <% end %>

        <br>
        <%= f.fields_for :adjusters do |aj| %>
          <%= aj.label :name %>
          <%= aj.text_field :name, class: 'form-control' %>

          <%= aj.label :agency %>
          <%= aj.text_field :agency, class: 'form-control' %>

          <%= aj.label :address %>
          <%= aj.text_field :address, class: 'form-control' %>

          <%= aj.label :phone %>
          <%= aj.text_field :phone, class: 'form-control' %>

          <%= aj.label :fax %>
          <%= aj.text_field :fax, class: 'form-control' %>

        <% end %>
      </div>
</div>

<div class="row"> 
  <div class="col-md-3 col-md-offset-2">
  <%= f.submit "Save this Patient", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>