<% provide(:title, @patient.name) %>

<div class="row">
	<div class="options_row center">
    <p>Use these buttons to edit or remove the patient</p>
    <%= link_to "Edit Patient", edit_patient_path, class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete Patient", @patient, method: :delete,:data => {confirm: 'Are you sure you want to delete this patient? There is NO recovery option!'}, class: "btn btn-xs btn-danger" %>
	</div>
  <hr>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="templates_box center">
      <h4>Templates</h4>
      <p>Clicking any button will begin a download of the relevant template for this patient.</p>
      <p>
      <%= link_to "Appointment Confirmation", patient_appointment_confirmation_path(:patient_id => @patient.id), class: "btn btn-xs btn-primary" %>
      <%= link_to "Depo Invoice", patient_depo_invoice_path(:patient_id => @patient.id), class: "btn btn-xs btn-primary" %>
      <%= link_to "Depo Confirmation", patient_depo_confirmation_path(:patient_id => @patient.id), class: "btn btn-xs btn-primary" %>
      <%= link_to "Action Items", patient_action_items_path(:patient_id => @patient.id), class: "btn btn-xs btn-primary" %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <section class="patient_appointment_info center">
      <h4>Upcoming Appointments:</h4>
      <% if @patient.appointments.any? %>
        <%= render @appointments %>
      <% end %>
      <%= link_to "New Appointment", new_patient_appointment_path(:patient_id => @patient.id), class: "btn btn-xs btn-primary" %>
    </section>
  </div>
</div>

<hr>

<div class="row">
  <aside class="col-md-4">
    <section class="patient_info">
      <h1><%= @patient.name %></h1>
      <p>Report: <strong><%= @patient.report_type %></strong></p>
      <hr>

        <h4>Report Information:</h4>
        <p>Claim Number: <%= @patient.claim_number %>
        <p>Panel Number: <%= @patient.panel_number %>
        <p>WCAB Number: <%= @patient.wcab_number %> 
        <hr>

        <h5>Date of Injury:</h5>
        <p><%=@patient.date_of_injury %></p>

        <h5>Address:</h5>
        <p><%= @patient.street_address %></p>
        <p><%= @patient.city %> <%= @patient.state %>, <%= @patient.zip_code %></p>

        <h5>Phone Number:</h5><p><%= @patient.phone %></p>
        <h5>SSN:</h5><p><%= @patient.ssn %> </p>
        <h5>Date Of Birth:</h5><p><%= @patient.dob %></p>
        
        <hr>
        <h5>Notes:</h5><p><%= @patient.notes %></p>    
        </section>
  </aside>

  <div class="col-md-4">
    <section class="patient_attorney_info">
      <% if @patient.attorneys.any? %>
      <h5>Patient Attorneys:</h5>
        <%= render @attorneys %>
      <% end %>
    </section>
  </div>

  <div class="col-md-4">
    <section class="patient_adjuster_info">
      <% if @patient.adjusters.any? %>
      <h5>Patient Adjusters:</h5>
        <%= render @adjusters %>
        <% end %>
    </section>
  </div>



</div>