<li id="patient_appointments-<%= appointment.id %>">
	<p><strong>Office</strong>: <%= appointment.office %></p>
	<p><strong>Type</strong>: <%= appointment.appointment_type %> <strong>Status</strong>: <%= appointment.status %></p>
	<p><strong>Time</strong>: <%= appointment.start_time %></p>
	<%= link_to 'Edit', edit_appointment_path %>
	<hr>
</li>