<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |event| %>
    <div>
	    <p>
      <%= event.patient.name %>
      <%= event.title %>
      <%= event.start_time %>
      </p>
     </div>
  <% end %>
<% end %>