<% if logged_in? %>
<% provide(:title, 'Appointments') %>

<h3>Monthly Appointments</h3>



<div id="appointment_calendar">
  <%= render partial: "calendar", locals: {appointments: @appointments} %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.office %></td>

        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Appointment', new_appointment_path %>