<% if logged_in? %>
<% provide(:title, 'Appointments') %>

<h3>Monthly Appointments</h3>



<div id="appointment_calendar">
  <%= render partial: "calendar", locals: {appointments: @appointments} %>
</div>

<table class="table table-span">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Start time</th>
      <th>Office</th>
      <th>Appointment Type</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.office %></td>
        <td><%= appointment.appointment_type %></td>

        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to appointment, remote: true, method: :delete,  data: { confirm: 'This will permanently delete this appointment. Are you sure?' } do %>
            <link>Delete</link>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>




<% end %>